/* 
   This is the main CSS file. Here I fill add styles to make flexbox work for the navbar, 
   the table of users, the buttons, etc. 
*/

body {
    margin: 0;
}

.app-window {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
}


.app-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 1vh;
    height: 1.5em;
    margin: 0;
}




nav.main-navbar{background-color: #222;
		padding: 0;
		margin: 0;
	       }

/* 
   Flow direction column for mobile phones, and row for desktops. Min width for for is 768 px 
*/
ul.main-navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


li.main-navbar{list-style-type: none;
	       padding: 0;
	       margin: 0;
	       width: 100%;
	      }

button.main-navbar {
    background-color: #222;
    padding: 1em;
    height: 3em;
    margin: 0;
    border-width: 0;
    color: #848484;
    width: 100%;
    font-family: sans-serif;
}

button.main-navbar:hover {
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}

button.main-navbar.selected {
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}





/* Full screen desktop below, it overrides the mobile settings */

@media only screen and (min-width: 768px) {
   
    ul.main-navbar {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    }

    li.main-navbar {
	width: max-content;
    }

    button.main-navbar {
	width: max-content;
    }


}

