/* 
   This cascading style sheet sets the style for the popup.
   It's designed for mobile first.
*/

.shadowBox {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.popupBox {
    position: relative;
    width: 95vw;
    height: auto;
    background: #FFF;
    border-radius: 9px;
    margin: 8vh auto 2vh;
    padding: 0.5vh;
    border: 1px solid #999;
    overflow: visable;
}

div.popupBox.content {
    width: auto;
    border-radius: 0;
    margin: 1em 1.5em 2em;
    border: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #000;
}

form.popupForm {
    margin-bottom: 1em;
}

input.popupForm {
    margin-bottom: 1em;
    width: calc(100% - 1em);
}



.closeButton {
    position: absolute;
    right: 5px;
    top: -25px;
    text-align: center;
    background: #DE5148;
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #aa3d37;
    padding: 0.5em;
    border-radius: 1em;
    z-index: 100;
}

h2.popupBox {
    font-family: sans-serif;
    color: #000;
    font-size: 2em;
    font-weight: normal;
    margin-left: 1em;
}

button.popupForm {
    padding: 0.7em;
    margin: 3px;
    border-width: 1px;
    font-weight: bold;
    font-family: sanf-serif;
    color: #FFF;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    font-family: sans-serif;
}

div.formButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

button.popupForm.cancel {
    background: #DE5148;
    border-color: #aa3d37;
}

button.popupForm.submit {
    background: #3F8ABC;
    border-color: #2b5f81;
}

button.popupForm.cancel:hover {
    background: #aa3d37;
}

button.popupForm.submit:hover {
    background: #2b5f81;
}

div.deleteuserslist {
    margin: 1em 0 1em;
}

div.deleteRow {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
span.popupForm.emailtodelete {
    font-style: italic;
}


 @media only screen and (min-width: 768px) {
     div.popupBox {    
	 width: 40vw;
     }

     .closeButton {
	 position: absolute;
	 right: -10px;
	 top: -5px; 
     }

     div.formButtons {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: nowrap;
	 align-content: flex-start;
     }

     button.popupForm {
	 width: auto;

     }

     
 }

 /* 
    Style for the messages (info-message, error-message)
*/
 
 div.messages {
     position: fixed;
     top: 5vh;
     left: 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
 }

 div.messageBox {
     width: calc(100% - 1em - 0.6em);
     border: solid 1px;
     padding: 0.5em;
     margin: 0.3em;
     margin-left: auto;
     margin-right: auto;
     color: #fff;
     border-radius: 1em;
 }

 button.messageCloseButton {
     background-color: #FFFFFF00;
     height: 2em;
     width: 2em;
     border: solid 0px #333;
     float: right;
     font-family: sans-serif;
     font-weight: bold;
 }

 div.messageBox.alert {
     background: #800;
     border-color: #400;
	 
 }

 div.messageBox.success {
     background: #080;
     border-color: #040;
 }

 @media only screen and (min-width: 768px) {
     div.messageBox {
	 width: calc(70% - 1em - 0.6em);
     }
 }
 
