/* 
   This cascading style sheet sets the style for the popup.
   It's designed for mobile first.
*/

.shadowBox {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popupBox {
    position: relative;
    width: 95vw;
    height: auto;
    background: #FFF;
    border-radius: 9px;
    margin: 8vh auto 2vh;
    padding: 0.5vh;
    border: 1px solid #999;
    overflow: visable;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: -25px;
    text-align: center;
    background: #C00;
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #999;
    padding: 0.5em;
    border-radius: 1em;
    z-index: 100;
}


 @media only screen and (min-width: 768px) {
     .popupBox {    
	 width: 40vw;
     }

     .closeButton {
	 position: absolute;
	 right: -10px;
	 top: -5px;
	 
	 
     }
 }

 /* 
    Style for the messages (info-message, error-message)
*/
 
 div.messages {
     position: fixed;
     top: 5vh;
     left: 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
 }

 div.messageBox {
     width: calc(100% - 1em - 0.6em);
     border: solid 1px;
     padding: 0.5em;
     margin: 0.3em;
     margin-left: auto;
     margin-right: auto;
     color: #fff;
     border-radius: 1em;
 }

 button.messageCloseButton {
     background-color: #FFFFFF00;
     height: 2em;
     width: 2em;
     border: solid 0px #333;
     float: right;
     font-family: sans-serif;
     font-weight: bold;
 }

 div.messageBox.alert {
     background: #800;
     border-color: #400;
	 
 }

 div.messageBox.success {
     background: #080;
     border-color: #040;
 }

 @media only screen and (min-width: 768px) {
     div.messageBox {
	 width: calc(70% - 1em - 0.6em);
     }
 }
 
